body{
    
    background-color:black;
    background-image:url('vhoa0.jpg');
    
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  
}
h1.a{
    text-align: center;
    color: rgb(42, 194, 50);
   
}
   
h2.a{
    text-align: center;
    color: rgb(241, 237, 237);
    font-size: 10px;
    
            
}
p.bb{text-align: center;
    font-size: 20px;
    color: rgb(252, 250, 250);
    text-shadow: 0 0 3px #30a3b8;
}
    
    
h2.b{
    font-size: 50px;
    text-align: center;
    color: rgb(245, 245, 237);
   
}
p.cc{text-align: center;
color: rgb(244, 242, 247);}
h2.c{
    text-align: center;
    color: rgb(170, 18, 18);
    font-size: 30px;


}
h2.d{text-align:center;
color: rgb(245, 38, 217);
font-size: 30px;}
p.dd{text-align: right;
color: rgb(0, 255, 106);}

img.img2{
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    
}
img.img1{
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    
    
}